# Gradle
/.gradle/
/*/.gradle/
/build/
/*/build/
/*/gradle.properties

# Eclipse
/.classpath
/.project
/.settings/

# IntelliJ
.idea/
*.iml

# Local properties
/local.properties

# Captures
/captures
